@model cloud2.Models.FileModel

@{
    ViewData["Title"] = "FileDelete";
}

<h1>Usuń plik</h1>

<h3>Jestes pewny ze chcesz usunać ten plik?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa pliku:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FileID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="File">Powrót</a>
    </form>
</div>
