@model UserModel

@{
    ViewData["Title"] = "Account Details";

    string randompass = "";

    Random rand = new Random();

    int randomnumber = rand.Next(4, 11);

    for (int i = 0; i < randomnumber; i++)
    {
        randompass += "*";
    }
}

<div>
    <div class="row justify-content-center">
        <h1 class="display-4 text-center mb-3">Twoje Konto</h1>
        <div class="d-flex justify-content-between">

            <div class="d-flex flex-column w-50 ">
                <div class="mb-3 ">
                    <p class="h5">Login:</p>
                    <div class="position-relative">
                        <i class="fa-solid fa-user faicon"></i>
                        <input asp-for="Username" type="text" readonly="readonly"  class="form-control inputawesome bg-white pe-none" name="" maxlength="20">
                    </div>
                </div>
                <div class="mb-3 ">
                    <p class="h5">Adres e-mail:</p>
                    <div class="position-relative">
                        <i class="fa-solid fa-user faicon"></i>
                        <input asp-for="Email" type="text" readonly="readonly"  class="form-control inputawesome bg-white pe-none" name="" axlength="20">
                    </div>
                </div>
                <div class="mb-3 ">
                    <p class="h5">Hasło:</p>
                    <div class="position-relative">
                        <i class="fa-solid fa-user faicon"></i>
                        <input asp-for="@randompass" type="text" readonly="readonly" class="form-control inputawesome bg-white pe-none" name="" maxlength="20">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column w-50 ms-5">
                <div class="mb-3 ">
                    <p class="h5">Imie:</p>
                    <div class="position-relative">
                        <i class="fa-solid fa-user faicon"></i>
                        <input asp-for="Name" type="text" readonly="readonly" class="form-control inputawesome bg-white pe-none" name="" maxlength="20">
                    </div>
                </div>
                <div class="mb-3 ">
                    <p class="h5">Nazwisko:</p>
                    <div class="position-relative">
                        <i class="fa-solid fa-user faicon"></i>
                        <input asp-for="Surname" type="text" readonly="readonly" class="form-control inputawesome bg-white pe-none" name="" maxlength="20">
                    </div>
                </div>
                <div class=" mb-3 ">
                    <p class="h5 invisible">645</p>
                    <form asp-controller="Home" asp-action="GoToChangePassword">
                        <button class="btn btn-primary ">Zmień hasło</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Account" asp-action="Logout" class="text-center">
                <button type="submit" class="btn btn-outline-primary btn-lg">Wyloguj!</button>
            </form>
        </div>

    </div>
</div>
